@media all and (min-width: 1850px){
  .wrapper{
    width: 50%;
  }

  .partners{
    .swiper-container {
      width: 50%;
    }
    .swiper-button-prev{
      left: 21%;
    }
    .swiper-button-next{
      left: 76%;
    }
  }
}

@media all and (max-width: 1000px){
  .fixed-header{
    &-nav{
      width: 50%;
    }
  }
  header{

  }
}

@media all and (max-width: 750px){
  .wrapper{
    width: 90%;
  }
  .fixed-header{
    &-nav{
      width: 60%;
    }
  }
  header{
    .spine-widget{
      width: 92%;
    }
    .annotaion{
      width: 80%;
      padding: 0 10%;
      font-size: 1rem;
      br{
        display: none;
      }
    }
  }

  .partners-benefits{

  }
}

@media all and (max-width: 600px){
  .wrapper{
    width: 90%;
  }
  // FIXED HEADER
  .fixed-header{
    opacity: 1;
    overflow-y: visible;
    width: 100%;
    height: 40px;
    background: #000;
    .mobile-nav{
      display: block;
      position: absolute;
      z-index: 2;
      color: #fff;
      font-size: 1.7rem;
      margin: 5px 15px;
    }
    .logo{
      width: 100%;
      height: 40px;
      background-size: contain;
      background-position: center;
      background-color: #000;
    }
    nav{
      margin: 0;
      position: absolute;
      overflow-y: visible;
      height: 230px;
      top: 0;
      left: -100%;
      flex-wrap: wrap;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      background: #fff;
      height: auto;
      padding: 0;
      transition: all 1s;
      width: 100%;
    }
    &-nav{
      padding: 25px 0 0;
      height: 235px;
      flex-direction: column;
      justify-content: space-between;width: 100%;
      li{
        text-align: center;
        width: 100%;
        border-bottom: 1px solid #000;
        a{
          color: #000;
          opacity: 1;
          font-size: 1.3rem;
        }
      }
    }
  }

  header{
    height: 500px;
    background-size: cover;
    .spine-widget{
      margin: -50% 0 0 8%;
    }
    .annotaion{
      font-size: 1rem;
      height: 20%;
      top: 80%;
      br{
        display: none;
      }
    }
  }
  .our-games{
    padding-bottom: 1rem;
  }

  .partners{
    .block-header{
      padding-bottom: 0;
    }
    .swiper-slide{
      height: 110px;
      margin: 0;
    }
    .swiper-button-prev,
    .swiper-button-next{
      top: 173px;
      height: 60px;
      width: 50px;
    }
    .swiper-button-prev{
      left: 3%;
    }
    .swiper-button-next{
      left: 82%;
    }
  }
  // BENEFITS FOR PARTNERS
  .partners-benefits{
    padding: 0 0 2rem;
    .wrapper{
      .benefit{
        width: 45%;
        .benefit-top{
          .benefit-header{
            font-size: 0.8rem;
          }
        }
        .benefit-text{
          font-size: 0.7rem;
        }
      }
    }
  }
  // OUR PARTNERS
  // FOOTER
  footer{
    .wrapper{
      .logo{
        padding-top: 21%;
        width: 85%;
      }
      .copyrigth{
        font-size: 0.6rem;
      }
    }
  }
}
