$benefits: games, integration, markets, global, licence, support;
$lightGrayBg: #F4F5F7;
$partners: 8;

body{
  margin: 0;
  font-family: 'Josefin Sans';
  // overflow-x: hidden;
}
.wrapper{
  width: 70%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  height: auto;
}

.block-header{
  margin: auto;
  padding: 3.7rem 0 3rem;
  line-height: 1;
  text-align: center;
  font-weight: 600;
  text-transform: uppercase;
}

.fixed-header{
  position: fixed;
  top: 0; left: 0;
  z-index: 12;
  width: 100%;
  opacity: 0.8;
  background: #141414;
  .mobile-nav{
    display: none;
  }
  nav{
    width: 90%;
    padding: 0 5%;
    display: flex;
    height: 70px;
    justify-content: space-between;
    align-items: center;
  }

  .logo{
    display: inline-block;
    height: 30px;
    width: 185px;
    background: url("images/logo.png") no-repeat;
    background-size: 100% 100%;
  }
  &-nav{
    margin: 0;
    padding: 0;
    width: 38%;
    display: flex;
    opacity: 0.8;
    justify-content: space-between;
    align-items: center;
    li{
      display: inline-block;
      a{
        text-decoration: none;
        color: #fff;
      }
    }
  }
}

// HEADER
header{
  position: relative;
  height: 100vh;
  background: url("images/BG2.jpg") center no-repeat;
  background-size: 100% 100%;
  .spine-widget{
    margin: 0 0 0 7%;
    width: 93%;
    height: 100vh;
  }
  .annotaion{
    text-align: center;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30%;
    top: 70%;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 1.7rem;
    width: 100%;
    background: #fff;
  }
}

// OUR GAMES
.our-games{
  background: $lightGrayBg;
  padding-bottom: 7rem;
  .wrapper{
    .game{
      position: relative;
      margin-bottom: 15px;
      padding-top: 22%;
      transition: all 1.5s;
      will-change: transform;
      overflow: hidden;
      .image{
        position: absolute;
        top: 0;
        height: 100%;
        width: 100%;
        transition: all 1s;
      }
      &-overlay{
        position: absolute;
        display: flex;
        opacity: 0;
        justify-content: center;
        align-items: flex-end;
        top: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.6);
        transition: all 1s;
      }
    }

    .game:hover{
      .image{
        transform: scale(1.1);
      }
      .game-overlay{
        opacity: 1;
      }
    }

    .kilic, .overunder{ width: 49%; }
    .tombala{ width: 32%; }
    .ts{
      width: 100%;
      .image{
        background: #2D2D2D url("images/ts.png") center no-repeat;
        background-size: auto 100%;
      }
    }
    .kilic{
      margin-left: 1%;
      .image{
        background: url("images/kilic.png") center no-repeat;
        background-size: auto 100%;
      }
    }
    .overunder{
      margin-right: 1%;
      .image{
        background: url("images/over-under.png") center no-repeat;
        background-size: auto 100%;
      }
    }
    .tombala-card{
      .image{
        background: url("images/tombala-card.png") center no-repeat;
        background-size: auto 100%;
      }
    }
    .tombala-color{
      .image{
        background: url("images/tombala-color.png") center no-repeat;
        background-size: auto 100%;
      }
    }
    .tombala-reward{
      .image{
        background: url("images/tombala-rew.png") center no-repeat;
        background-size: auto 100%;
      }
    }

  }
}

// BENEFITS FOR PARTNERS
.partners-benefits{
  padding: 0 0 130px;
  font-family: "Open Sans";
  .wrapper{
    .benefit{
      margin: 1.5% 0 0;
      width: 26%;
      .benefit-top{
        display: flex;
        justify-content: space-between;
        align-items: center;
        .benefit-header{
          width: calc(95% - 50px);
          text-transform: uppercase;
        }
        @each $benefit in $benefits{
          .icon-#{$benefit}{
            height: 50px;
            width: 50px;
            background: url("images/"+$benefit+".png");
            background-size: 100% 100%;
          }
        }
        .icon-markets{
          width: 55px;
        }
      }
      .benefit-text{
        line-height: 1.2;
      }
    }
  }
}

// OUR PARTNERS
.partners{
  position: relative;
  background: $lightGrayBg;
  padding: 0 0 100px;
  .swiper-container {
    margin: 50px auto 0;
    width: 60%;
    height: 100px;
}

  .swiper-slide{
    height: 80px;
     margin: 0 10px;
   background-size: contain;
  }
  .swiper-button-prev,
  .swiper-button-next{
    top: 55%;
    height: 65px;
    width: 54px;
    outline: none;
  }
  .swiper-button-prev{
    background: url("images/arr-prev.png") no-repeat;
    left: 15.5%;
    background-size: auto 100%;
  }
  .swiper-button-next{
    background: url("images/arr-next.png") no-repeat;
    left: 81.3%;
    background-size: auto 100%;
  }
}

@for $i from 1 through 8{
  .partners .partner-#{$i}{
    background: #fff url("images/"+$i+".png") center no-repeat;
    background-size: contain;
  }
}


footer {
  overflow: visible;
  background: #151D26;
  height: 250px;
  .wrapper {
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 70%;
    margin: auto;
    overflow: visible;
    .logo {
      background: url("images/footer-logo.png") center no-repeat;
      padding-top: 7%;
      width: 30%;
      background-size: contain;
    }
    .social-icons {
      margin: 0 3px 0 0;
      .icon {
      color: #fff;
      margin: 0 0 0 20px;
      font-size: 2rem;
      opacity: 0.6;
      }
    }
    .copyrigth {
      font-family: "Open Sans";
      color: #C1C4C9;
      font-size: 0.8rem;
      margin: 0;
    }
  }
}
